--
-- PostgreSQL database dump
--

\restrict DxqpgbUnpRJBV1TLAPzT5U6gmqhhPKrcskVcUjTJrAEIZvltqcElpTVX8FQy3Wv

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: create_next_month_partition(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_next_month_partition() RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
    start_date DATE;
    end_date DATE;
    partition_name TEXT;
BEGIN
    -- First day of next month
    start_date := date_trunc('month', CURRENT_DATE) + INTERVAL '1 month';
    end_date := start_date + INTERVAL '1 month';

    -- Partition name format
    partition_name := 'device_status_logs_y' || to_char(start_date, 'YYYY') || 'm' || to_char(start_date, 'MM');

    -- Check if partition exists
    IF NOT EXISTS (
        SELECT 1 FROM pg_class WHERE relname = partition_name
    ) THEN
        EXECUTE format(
            'CREATE TABLE %I PARTITION OF device_status_logs
             FOR VALUES FROM (%L) TO (%L);',
            partition_name, start_date, end_date
        );

        RAISE NOTICE 'Created partition: %', partition_name;
    ELSE
        RAISE NOTICE 'Partition already exists: %', partition_name;
    END IF;
END;
$$;


ALTER FUNCTION public.create_next_month_partition() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alarm_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alarm_events (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    device_id uuid,
    pole_id uuid,
    switch_id uuid,
    substation_id uuid,
    regulator_id uuid,
    event_type character varying(50) NOT NULL,
    severity character varying(20),
    status character varying(20) DEFAULT 'ACTIVE'::character varying,
    message text,
    event_start timestamp without time zone NOT NULL,
    event_end timestamp without time zone,
    acknowledged boolean DEFAULT false,
    acknowledged_by character varying(50),
    acknowledged_at timestamp without time zone,
    source character varying(50),
    remarks text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT chk_event_type CHECK (((event_type)::text = ANY ((ARRAY['DEVICE_DOWN'::character varying, 'DEVICE_UP'::character varying, 'POWER_FAIL'::character varying, 'POWER_RESTORE'::character varying, 'SWITCH_DOWN'::character varying, 'SWITCH_UP'::character varying, 'LINK_DOWN'::character varying, 'LINK_UP'::character varying])::text[]))),
    CONSTRAINT chk_severity CHECK (((severity)::text = ANY ((ARRAY['CRITICAL'::character varying, 'MAJOR'::character varying, 'MINOR'::character varying, 'INFO'::character varying])::text[]))),
    CONSTRAINT chk_status CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'CLEARED'::character varying])::text[])))
);


ALTER TABLE public.alarm_events OWNER TO postgres;

--
-- Name: device_status_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_status_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    device_id uuid NOT NULL,
    ping_status boolean,
    snmp_status boolean,
    response_time_ms double precision,
    packet_loss double precision,
    cpu_usage double precision,
    memory_usage double precision,
    temperature double precision,
    checked_at timestamp without time zone NOT NULL
)
PARTITION BY RANGE (checked_at);


ALTER TABLE public.device_status_logs OWNER TO postgres;

--
-- Name: device_status_logs_y2026m05; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_status_logs_y2026m05 (
    id uuid DEFAULT public.uuid_generate_v4() CONSTRAINT device_status_logs_id_not_null NOT NULL,
    device_id uuid CONSTRAINT device_status_logs_device_id_not_null NOT NULL,
    ping_status boolean,
    snmp_status boolean,
    response_time_ms double precision,
    packet_loss double precision,
    cpu_usage double precision,
    memory_usage double precision,
    temperature double precision,
    checked_at timestamp without time zone CONSTRAINT device_status_logs_checked_at_not_null NOT NULL
);


ALTER TABLE public.device_status_logs_y2026m05 OWNER TO postgres;

--
-- Name: device_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device_types (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(50) NOT NULL,
    category character varying(50),
    description text,
    supports_ping boolean DEFAULT true,
    supports_snmp boolean DEFAULT false,
    requires_power boolean DEFAULT true,
    manufacturer_default character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.device_types OWNER TO postgres;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    device_type_id uuid NOT NULL,
    pole_id uuid,
    switch_id uuid,
    device_name character varying(100) NOT NULL,
    ip_address inet,
    mac_address character varying(50),
    brand character varying(50),
    model character varying(50),
    serial_number character varying(100),
    installation_date date,
    warranty_expiry date,
    vlan_id integer,
    port_number character varying(20),
    status boolean DEFAULT true,
    last_seen timestamp without time zone,
    location text,
    remarks text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.devices OWNER TO postgres;

--
-- Name: poles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.poles (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    pole_number character varying(20) NOT NULL,
    location text,
    regulator_id uuid,
    phase character varying(10),
    latitude numeric(10,6),
    longitude numeric(10,6),
    distance_from_previous double precision,
    installation_date date,
    status boolean DEFAULT true,
    remarks text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.poles OWNER TO postgres;

--
-- Name: power_status_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.power_status_logs (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    substation_id uuid,
    regulator_id uuid,
    pole_id uuid,
    power_available boolean,
    voltage double precision,
    current double precision,
    frequency double precision,
    source character varying(50),
    recorded_at timestamp without time zone NOT NULL
)
PARTITION BY RANGE (recorded_at);


ALTER TABLE public.power_status_logs OWNER TO postgres;

--
-- Name: power_status_logs_default; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.power_status_logs_default (
    id uuid DEFAULT public.uuid_generate_v4() CONSTRAINT power_status_logs_id_not_null NOT NULL,
    substation_id uuid,
    regulator_id uuid,
    pole_id uuid,
    power_available boolean,
    voltage double precision,
    current double precision,
    frequency double precision,
    source character varying(50),
    recorded_at timestamp without time zone CONSTRAINT power_status_logs_recorded_at_not_null NOT NULL
);


ALTER TABLE public.power_status_logs_default OWNER TO postgres;

--
-- Name: power_status_logs_y2026m04; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.power_status_logs_y2026m04 (
    id uuid DEFAULT public.uuid_generate_v4() CONSTRAINT power_status_logs_id_not_null NOT NULL,
    substation_id uuid,
    regulator_id uuid,
    pole_id uuid,
    power_available boolean,
    voltage double precision,
    current double precision,
    frequency double precision,
    source character varying(50),
    recorded_at timestamp without time zone CONSTRAINT power_status_logs_recorded_at_not_null NOT NULL
);


ALTER TABLE public.power_status_logs_y2026m04 OWNER TO postgres;

--
-- Name: substations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.substations (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(50) NOT NULL,
    location text,
    ht_panel_status boolean,
    lt_panel_status boolean,
    ups_status boolean,
    dg_status boolean,
    transformer_status boolean,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.substations OWNER TO postgres;

--
-- Name: switches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.switches (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(50) NOT NULL,
    ip_address inet NOT NULL,
    mac_address character varying(50),
    switch_type character varying(20),
    location text,
    pole_id uuid,
    parent_switch_id uuid,
    total_ports integer,
    used_ports integer,
    status boolean,
    last_seen timestamp without time zone,
    snmp_enabled boolean DEFAULT true,
    firmware_version character varying(50),
    brand character varying(50),
    model character varying(50),
    remarks text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.switches OWNER TO postgres;

--
-- Name: voltage_regulators; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.voltage_regulators (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    substation_id uuid,
    name character varying(50),
    input_voltage double precision,
    output_voltage double precision,
    capacity_kva double precision,
    status boolean,
    last_updated timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.voltage_regulators OWNER TO postgres;

--
-- Name: device_status_logs_y2026m05; Type: TABLE ATTACH; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_logs ATTACH PARTITION public.device_status_logs_y2026m05 FOR VALUES FROM ('2026-05-01 00:00:00') TO ('2026-06-01 00:00:00');


--
-- Name: power_status_logs_default; Type: TABLE ATTACH; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_status_logs ATTACH PARTITION public.power_status_logs_default DEFAULT;


--
-- Name: power_status_logs_y2026m04; Type: TABLE ATTACH; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_status_logs ATTACH PARTITION public.power_status_logs_y2026m04 FOR VALUES FROM ('2026-04-01 00:00:00') TO ('2026-05-01 00:00:00');


--
-- Name: alarm_events alarm_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarm_events
    ADD CONSTRAINT alarm_events_pkey PRIMARY KEY (id);


--
-- Name: device_status_logs device_status_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_logs
    ADD CONSTRAINT device_status_logs_pkey PRIMARY KEY (id, checked_at);


--
-- Name: device_status_logs_y2026m05 device_status_logs_y2026m05_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_status_logs_y2026m05
    ADD CONSTRAINT device_status_logs_y2026m05_pkey PRIMARY KEY (id, checked_at);


--
-- Name: device_types device_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_types
    ADD CONSTRAINT device_types_name_key UNIQUE (name);


--
-- Name: device_types device_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device_types
    ADD CONSTRAINT device_types_pkey PRIMARY KEY (id);


--
-- Name: devices devices_device_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_name_key UNIQUE (device_name);


--
-- Name: devices devices_ip_address_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_ip_address_key UNIQUE (ip_address);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: poles poles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.poles
    ADD CONSTRAINT poles_pkey PRIMARY KEY (id);


--
-- Name: poles poles_pole_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.poles
    ADD CONSTRAINT poles_pole_number_key UNIQUE (pole_number);


--
-- Name: power_status_logs power_status_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_status_logs
    ADD CONSTRAINT power_status_logs_pkey PRIMARY KEY (id, recorded_at);


--
-- Name: power_status_logs_default power_status_logs_default_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_status_logs_default
    ADD CONSTRAINT power_status_logs_default_pkey PRIMARY KEY (id, recorded_at);


--
-- Name: power_status_logs_y2026m04 power_status_logs_y2026m04_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.power_status_logs_y2026m04
    ADD CONSTRAINT power_status_logs_y2026m04_pkey PRIMARY KEY (id, recorded_at);


--
-- Name: substations substations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.substations
    ADD CONSTRAINT substations_pkey PRIMARY KEY (id);


--
-- Name: switches switches_ip_address_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switches
    ADD CONSTRAINT switches_ip_address_key UNIQUE (ip_address);


--
-- Name: switches switches_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switches
    ADD CONSTRAINT switches_pkey PRIMARY KEY (id);


--
-- Name: voltage_regulators voltage_regulators_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voltage_regulators
    ADD CONSTRAINT voltage_regulators_pkey PRIMARY KEY (id);


--
-- Name: idx_alarm_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alarm_active ON public.alarm_events USING btree (status);


--
-- Name: idx_alarm_device; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alarm_device ON public.alarm_events USING btree (device_id);


--
-- Name: idx_alarm_time; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alarm_time ON public.alarm_events USING btree (event_start DESC);


--
-- Name: idx_devices_ip; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_ip ON public.devices USING btree (ip_address);


--
-- Name: idx_devices_pole; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_pole ON public.devices USING btree (pole_id);


--
-- Name: idx_devices_switch; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_switch ON public.devices USING btree (switch_id);


--
-- Name: idx_devices_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devices_type ON public.devices USING btree (device_type_id);


--
-- Name: idx_power_logs_main; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_power_logs_main ON public.power_status_logs_y2026m04 USING btree (substation_id, regulator_id, recorded_at DESC);


--
-- Name: device_status_logs_y2026m05_pkey; Type: INDEX ATTACH; Schema: public; Owner: postgres
--

ALTER INDEX public.device_status_logs_pkey ATTACH PARTITION public.device_status_logs_y2026m05_pkey;


--
-- Name: power_status_logs_default_pkey; Type: INDEX ATTACH; Schema: public; Owner: postgres
--

ALTER INDEX public.power_status_logs_pkey ATTACH PARTITION public.power_status_logs_default_pkey;


--
-- Name: power_status_logs_y2026m04_pkey; Type: INDEX ATTACH; Schema: public; Owner: postgres
--

ALTER INDEX public.power_status_logs_pkey ATTACH PARTITION public.power_status_logs_y2026m04_pkey;


--
-- Name: alarm_events alarm_events_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarm_events
    ADD CONSTRAINT alarm_events_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE SET NULL;


--
-- Name: alarm_events alarm_events_pole_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarm_events
    ADD CONSTRAINT alarm_events_pole_id_fkey FOREIGN KEY (pole_id) REFERENCES public.poles(id) ON DELETE SET NULL;


--
-- Name: alarm_events alarm_events_regulator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarm_events
    ADD CONSTRAINT alarm_events_regulator_id_fkey FOREIGN KEY (regulator_id) REFERENCES public.voltage_regulators(id) ON DELETE SET NULL;


--
-- Name: alarm_events alarm_events_substation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarm_events
    ADD CONSTRAINT alarm_events_substation_id_fkey FOREIGN KEY (substation_id) REFERENCES public.substations(id) ON DELETE SET NULL;


--
-- Name: alarm_events alarm_events_switch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alarm_events
    ADD CONSTRAINT alarm_events_switch_id_fkey FOREIGN KEY (switch_id) REFERENCES public.switches(id) ON DELETE SET NULL;


--
-- Name: device_status_logs device_status_logs_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.device_status_logs
    ADD CONSTRAINT device_status_logs_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: devices devices_device_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_device_type_id_fkey FOREIGN KEY (device_type_id) REFERENCES public.device_types(id);


--
-- Name: devices devices_pole_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pole_id_fkey FOREIGN KEY (pole_id) REFERENCES public.poles(id) ON DELETE SET NULL;


--
-- Name: devices devices_switch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_switch_id_fkey FOREIGN KEY (switch_id) REFERENCES public.switches(id) ON DELETE SET NULL;


--
-- Name: poles poles_regulator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.poles
    ADD CONSTRAINT poles_regulator_id_fkey FOREIGN KEY (regulator_id) REFERENCES public.voltage_regulators(id) ON DELETE SET NULL;


--
-- Name: power_status_logs power_status_logs_pole_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.power_status_logs
    ADD CONSTRAINT power_status_logs_pole_id_fkey FOREIGN KEY (pole_id) REFERENCES public.poles(id) ON DELETE SET NULL;


--
-- Name: power_status_logs power_status_logs_regulator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.power_status_logs
    ADD CONSTRAINT power_status_logs_regulator_id_fkey FOREIGN KEY (regulator_id) REFERENCES public.voltage_regulators(id) ON DELETE SET NULL;


--
-- Name: power_status_logs power_status_logs_substation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE public.power_status_logs
    ADD CONSTRAINT power_status_logs_substation_id_fkey FOREIGN KEY (substation_id) REFERENCES public.substations(id) ON DELETE SET NULL;


--
-- Name: switches switches_parent_switch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switches
    ADD CONSTRAINT switches_parent_switch_id_fkey FOREIGN KEY (parent_switch_id) REFERENCES public.switches(id) ON DELETE SET NULL;


--
-- Name: switches switches_pole_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.switches
    ADD CONSTRAINT switches_pole_id_fkey FOREIGN KEY (pole_id) REFERENCES public.poles(id) ON DELETE SET NULL;


--
-- Name: voltage_regulators voltage_regulators_substation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.voltage_regulators
    ADD CONSTRAINT voltage_regulators_substation_id_fkey FOREIGN KEY (substation_id) REFERENCES public.substations(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DxqpgbUnpRJBV1TLAPzT5U6gmqhhPKrcskVcUjTJrAEIZvltqcElpTVX8FQy3Wv

